body {
    width : 100%;
    margin: auto;
    font-family: Verdana, Geneva, sans-serif;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background:radial-gradient(white, #adadad);
}
.article input {
	float : right;
	margin-right:5px;
}
.article img {
	width: 150px;
    height:150px;
}
.article {
	margin-top: 1%;
    width: 20%;
	text-align : center;
	border: 1px solid gray;
    margin-left: 1%;
    float: left;
}
.affichagePanier{
    width: 1020px;
    height:75px;
    margin:auto;
    margin-top:1%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10 10 10 10;
    border-bottom: none;
    border-top: none;
}

.formPanier{
    margin-right: 1%;
    height: 25px;
    padding-bottom: 15px;
}

.bloc_page{
    width: 1020px;
    height:1200px;
    margin:auto;
    margin-top:1%;
    C:2%;
    border: 1px solid gray;
    border-bottom:none;
    border-top:none;
    border-radius: 10 10 0 0;
    display: block;
    background: white;

    
}
.connection{
    position: absolute;
    right: 5px;
    height: 45%;
}

form{
    float: left;
}

ul ul {display: none;} 

.header{
    height:300px;
    width:100%;
    text-align : center;
    margin: auto;
    color:white;
    background-image:url(../Images/pronote-all.jpg);
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
    border-bottom:1px solid black;
}

.header form{
	position: fixed;
	top: 0px;
}
li { 
    display:inline;
    margin-left:2px;

}  
li a {  
    display: inline-block;  
    height: 85px;  
    width: 75px;  
    text-align: center;  
    background: white;  
    margin: 0 20px;  
    color: #615334;  
    text-decoration: none;  
    line-height: 5.6em;  
    background: -moz-linear-gradient(center bottom , #DACDB1 11%, #F0E8D8 56%) repeat scroll 0 0 #F0E8D8;  
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #DACDB1),color-stop(0.65, #F0E8D8));  
  
}
.menu a {  
    position: relative;  
    bottom: 0;  
    transition: all 0.3s ease-in;  
}  

.menu a:hover,  
.menu a:focus {  
    bottom: -10px;  
}  

.menu{
    height:270px;
    width:1020px;
    color:white;
    margin:auto;
}

.home{
    height:55px;
    width:60px;
    border: 1px solid black;
    border-bottom:none;
    border-radius: 10 10 0 0;
    background: #d0d0d0;
    margin-left:0.7%;    
    margin-top:23.5%;
    float:left;
    padding-top: 5px;
    text-align : center;
}

.boutique{
    height:60px;
    width:200px;
    border:1px solid black;
    border-bottom:none;
    border-radius: 10 10 0 0;
    background: #d4d4d4;
    margin-top:23.5%;;
    margin-left:2%;
    float:left;
    text-align : center;
}

.information{
    height:60px;
    width:220px;

    border-bottom:none;
    border-radius: 10 10 0 0;
    background: #d9d9d9;
    margin-top:23.6%;
    margin-left:2%;
    float:left;
    text-align : center;
}

.partenaires{
    height:60px;
    width:220px;

    border-bottom:none;
    border-radius: 10 10 0 0;
    background: #d8d8d8;
    margin-top:23.6%;
    margin-left:2%;
    float:left;
    text-align : center;
}

.contact{
    height:60px;
    width:200px;
    border-bottom:none;
    border-radius: 10 10 0 0;
    background: #d3d3d3;
    margin-top:23.6%;
    margin-left:2%;
    float:left;
    text-align : center;
}


a{
    color:white;
    text-decoration:none;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }


h1, h2 {
	text-align:center;
	margin-top:0;
}
h1 {
	font-size: 2.5em;
	font-family: 'Amaranth', Arial, Verdana, sans-serif;
}
h1 span {
	display:block;
	line-height: 1em;
	font-size: 0.55em;
}
h1 .cursive {
	font-size: 1.1em;
	line-height:0.5em;
	color: #bd9b83;
}

h3 {
	margin-left:350px;
	margin-right: auto;
}

figure { 
	display: inline-block; 
}

table { 
margin : 10px auto auto auto; 
} 


.sread {
	position: absolute;
	left:-9999px;
}
.cursive {
	font-family: 'Mr Dafoe', cursive;
}
.center {
	text-align: center;
}

#liste {
	display: block;
	list-style-type: none;
	top: 15px;
	left: 400px;
	margin-left : 22px;
	margin-right: auto;
	
}

#liste li {
	display: block;
	background-color: #efefff;
	color: black;
	width: 300px;
	cursor: pointer;
	margin-left : auto;
	margin-right: auto;
	padding:3px;
	border:1px solid #F5C5C5;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	text-align: center;
}

#liste li:hover {
	background-color: #FFCC00;
}

#connection{
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	
}

#connection button{
	position: center;
}

/* Les styles des formulaires */
#membre{
	width:64%;
	margin-left: 10px;
	margin-right: auto;

}
#membre form{
	background-color:#FAFAFA;
	padding:10px;
	width:150%;
}
#membre fieldset {
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border:1px solid #DF3F3F;
}
#membre legend {
	color:#DF3F3F;
	font-weight:bold
}
#membre label {
	margin-top:10px;
	display:block;
	margin-left: 350px;
	margin-right: auto;
	width: 30%;
	text-align: left;
}
#membre label.inline {
	display:inline;
	margin-right:50px;
}
#membre input, textarea, select, option {
	background-color:#FFF3F3;
}
#membre input,#membre  textarea,#membre  select {
	padding:3px;
	border:1px solid #F5C5C5;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	margin-left: 350px;
	margin-right: auto;
	width: 30%;
	text-align: left;
}
#membre select {
	margin-top:10px;
}
i#membre input[type=radio] {
	background-color:transparent;
	border:none;
	width:10px;
}
#membre input[type=submit], input[type=reset], input[type=button] {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px blue;
	cursor:pointer;
	margin-left: 350px;
	margin-right: auto;
	width: 30%;
	text-align: center;
}
#membre input[type=button] {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px blue;
	cursor:pointer;
	margin-left: 350px;
	margin-right: auto;
	width: 30%;
	text-align: center;
}

#membre :valid {
	box-shadow: 0 0 2px 1px green;
}
#membre :invalid{
	box-shadow: 0 0 2px 1px red;
}
#membre form:invalid{
	box-shadow:none;
}

#aligner {
margin-left : 350px;
margin-right : auto;
width : 30%;
}

#slideshow {
	position: relative;
	width: 640px;
	height: 310px;
	padding: 15px;
	border: 5px solid #ddd;
	margin: 0 auto 2em;
	background: #FFF;
	background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

/* avanced box-shadow*/
#slideshow:before,
#slideshow:after {
	position: absolute;
	display:block;
	bottom:16px;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	
	z-index: -10;
}
#slideshow:before {
	left:0;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}
#slideshow .commands {
	position: absolute;
	top: 45%;
	padding: 5px 13px;
	border-bottom:0;
	font-family: 'Amaranth', Arial, Verdana, sans-serif;
	font-size: 1.3em;
	color: #aaa;
	text-decoration:none;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#ddd);
	background-image: -moz-linear-gradient(#fff,#ddd);
	background-image: -ms-linear-gradient(#fff,#ddd);
	background-image: -o-linear-gradient(#fff,#ddd);
	background-image: linear-gradient(#fff,#ddd);
	text-shadow: 0 0 1px #aaa;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
#slideshow .commands:after {
	position: absolute;
	bottom: 65px; left:-18px;
	content: attr(title);
	width: 50px;
	padding: 12px;
	background: #fff;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	text-align:center;
	text-shadow: 0 0 0;
	opacity: 0;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	
	-webkit-transition: opacity 0.7s, bottom 0.7s;
	-moz-transition: opacity 0.7s, bottom 0.7s;
	transition: opacity 0.7s, bottom 0.7s;
}
#slideshow .commands:before {
	position: absolute;
	bottom: 55px; left: 13px;
	content: " ";
	width: 1px; height: 1px;
	border-top: 10px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	z-index:100;
	opacity: 0;
	
	-webkit-transition: opacity 0.7s, bottom 0.7s;
	-moz-transition: opacity 0.7s, bottom 0.7s;
	transition: opacity 0.7s, bottom 0.7s;
}
#slideshow .commands:hover:before {
	bottom: 35px;
	opacity: 1;
}
#slideshow .commands:hover:after {
	bottom: 45px;
	opacity: 1;
}
#slideshow .commands:focus { 
	outline: 0;
	-webkit-transform: translate(1px, 2px);
	-moz-transform: translate(1px, 2px);
	-ms-transform: translate(1px, 2px);
	-o-transform: translate(1px, 2px);
	transform: translate(1px, 2px);
}
#slideshow .commands:active {
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	-ms-transform: translate(0, 1px);
	-o-transform: translate(0, 1px);
	transform: translate(0, 1px);
}
#slideshow .prev {
	left: -48px;
}
#slideshow .next {
	right: -48px;
}
#slideshow .prev,
#slideshow .next {
	display:none;
}
#slideshow .prev,
#slideshow .next {
	display:none;
}
#slideshow .commands1 {
	display: block;
}

/* play/pause commands */


#slideshow .container {
	position:relative;
	width: 640px;
	height: 310px;
	overflow: hidden;
}
/* timeline base */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	background: #999;
	width: 100%;
	height: 1px;
}

@-webkit-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@-moz-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
	
	-webkit-animation: slider 32s infinite;
	-moz-animation: slider 32s infinite;
	animation: slider 32s infinite;
}
.sl_i:target ~ #slideshow .slider {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
}
.sl_command:target ~ #slideshow .slider {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
#slideshow .c_slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
	background: url(../Include/Images/ovalb.jpg) 0 0 no-repeat, url(../Include/Images/rug2.jpg) 640px 0 no-repeat, url(../Include/Images/rug3.jpg) 1280px 0 no-repeat, url(../Include/Images/cnr.jpg) 1920px 0 no-repeat;
}
.sl_i:target ~ #slideshow .c_slider {
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

#slideshow figure {
	position:relative;
	padding:0; margin:0;
}

@-webkit-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@-moz-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	-webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	-moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	
	-webkit-animation: figurer 32s infinite;
	-moz-animation: figurer 32s infinite;
	animation: figurer 32s infinite;
}

@-webkit-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@-moz-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

#slideshow figcaption {
	position:absolute;
	padding: 20px 20px; margin:0;
	left:0; right:0; bottom: 5px;
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #000;
	background: rgba(255,255,255,0.7);
	border-top: 1px solid rgb(225,225,225);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
	
	-webkit-animation: figcaptionner 32s infinite;
	-moz-animation: figcaptionner 32s infinite;
	animation: figcaptionner 32s infinite;
}

@-webkit-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}
@-moz-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}
@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}

#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 5px;
	background: rgb(214,98,13);
	background: rgba(118,166,66,.6);
	width: 0;
	
	-webkit-animation: timeliner 32s infinite;
	-moz-animation: timeliner 32s infinite;
	animation: timeliner 32s infinite;
}

/* styles des points */
.dots_commands  {
	position: relative;
	top: 32px;
	padding:0; margin:0;
	text-align:center;
}
.dots_commands li {
	display:inline;
	padding:0; margin:0;
	list-style:none;
}
.dots_commands a {
	position: relative;
	display:inline-block;
	height:8px; width: 8px;
	margin: 0 5px;
	text-indent: -9999px;
	background: #fff;
	border-bottom:0;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	
	z-index:25;
}
.dots_commands li + li a {
	z-index:10;
}
@-moz-keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
@-webkit-keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
@keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
	position: absolute;
	top: 0; left: 0;
	content: " ";
	width: 8px; height: 8px;
	background: #76a642;
	z-index:20;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
.dots_commands li:first-child a:after {
	-webkit-animation: dotser 32s infinite;
	-moz-animation: dotser 32s infinite;
	animation: dotser 32s infinite;
}
.dots_commands li:first-child a:before {
	display:none;
}




/* need a stop ! */

/* actions when target ! */
.sl_command { display: none; }

.sl_command:target ~ #slideshow .slider,
.sl_command:target ~ #slideshow figure:after,
.sl_command:target ~ #slideshow figcaption,
.sl_command:target ~ #slideshow #timeline,
.sl_command:target ~ #slideshow .dots_commands li:first-child a:after {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}

#sl_play:target ~ #slideshow .slider,
#sl_play:target ~ #slideshow figure:after,
#sl_play:target ~ #slideshow figcaption,
#sl_play:target ~ #slideshow #timeline,
#sl_play:target ~ #slideshow .dots_commands li:first-child a:after {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-play-state: running;
}

.sl_command:target ~ #slideshow .pause 	{ opacity:0; }
.sl_command:target ~ #slideshow .play 	{ opacity:1; right: 25px; cursor: pointer; }
#sl_play:target ~ #slideshow .pause 	{ opacity:0; }
#sl_play:target ~ #slideshow .play 		{ opacity:0; right: 55px; cursor: default;}

.sl_i:target ~ #slideshow .slider									{ visibility: hidden }
.sl_i:target ~ #slideshow .slider figcaption						{ visibility: hidden }
.sl_i:target ~ #slideshow .dots_commands li:first-child a:after		{ display:none; }
.sl_i:target ~ #slideshow .dots_commands li:first-child a:before	{ display:block; }}

#sl_i1:target ~ #slideshow .commands								{ display: none; }
#sl_i1:target ~ #slideshow .commands1								{ display: block; }
#sl_i1:target ~ #slideshow .c_slider								{ background-position: 0 0, 640px 0, 1280px 0, 1920px 0; }
#sl_i1:target ~ #slideshow .dots_commands li:first-child a:before	{ left:0; }

#sl_i2:target ~ #slideshow .commands								{ display: none; }
#sl_i2:target ~ #slideshow .commands2								{ display: block; }
#sl_i2:target ~ #slideshow .c_slider								{ background-position: -640px 0, 0 0, 640px 0, 1280px 0; }
#sl_i2:target ~ #slideshow .dots_commands li:first-child a:before	{ left:18px; }

#sl_i3:target ~ #slideshow .commands								{ display: none; }
#sl_i3:target ~ #slideshow .commands3								{ display: block; }
#sl_i3:target ~ #slideshow .c_slider								{ background-position: -1280px 0, -640px 0, 0 0, 640px 0; }
#sl_i3:target ~ #slideshow .dots_commands li:first-child a:before	{ left:36px; }

#sl_i4:target ~ #slideshow .commands								{ display: none; }
#sl_i4:target ~ #slideshow .commands4								{ display: block; }
#sl_i4:target ~ #slideshow .c_slider								{ background-position: -1920px 0, -1280px 0, -640px 0, 0 0; }
#sl_i4:target ~ #slideshow .dots_commands li:first-child a:before	{ left:54px; }

.colonne{
   
}

.colonneGauche{
    margin-top:3%;
    width: 45%;
    margin-left: 2%;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    float: left;
}

.fb-like-box{
    width: 100%;
    text-align: center;
}

.colonneDroite{
    margin-top:3%;
    width: 45%;
    margin-right: 2%;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    float: right;
}

.fb-like-box{
    width: 100%;
}

/* SLIDE NOUVEAU*/

#slideshowC {
	position: relative;
	margin-right: 2%;
	margin-top:3%;
	float: right;
	width: 450px;
	height: 350px;
	border: 5px solid #ddd;
	box-shadow: 0px 0px 30px black; 
    border-radius: 10px;

}

/* avanced box-shadow*/
#slideshowC:before,
#slideshowC:after {
	position: absolute;
	display:block;
	bottom:16px;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	
	z-index: -10;
}
#slideshowC:before {
	left:0;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
#slideshowC:after {
	right:0;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}
#slideshowC .commands {
	position: absolute;
	top: 45%;
	padding: 5px 13px;
	border-bottom:0;
	font-family: 'Amaranth', Arial, Verdana, sans-serif;
	font-size: 1.3em;
	color: #aaa;
	text-decoration:none;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#ddd);
	background-image: -moz-linear-gradient(#fff,#ddd);
	background-image: -ms-linear-gradient(#fff,#ddd);
	background-image: -o-linear-gradient(#fff,#ddd);
	background-image: linear-gradient(#fff,#ddd);
	text-shadow: 0 0 1px #aaa;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#slideshowC .commands:before {
	position: absolute;
	bottom: 55px; left: 13px;
	content: " ";
	width: 1px; height: 1px;
	border-top: 10px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	z-index:100;
	opacity: 0;
	
	-webkit-transition: opacity 0.7s, bottom 0.7s;
	-moz-transition: opacity 0.7s, bottom 0.7s;
	transition: opacity 0.7s, bottom 0.7s;
}

#slideshowC .commands:focus { 
	outline: 0;
	-webkit-transform: translate(1px, 2px);
	-moz-transform: translate(1px, 2px);
	-ms-transform: translate(1px, 2px);
	-o-transform: translate(1px, 2px);
	transform: translate(1px, 2px);
}
#slideshowC .commands:active {
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	-ms-transform: translate(0, 1px);
	-o-transform: translate(0, 1px);
	transform: translate(0, 1px);
}


/* play/pause commands */


#slideshowC .container {
	position:relative;
	width: 450px;
	height: 300px;
	overflow: hidden;
}


#slideshowC .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
	
	-webkit-animation: slider 20s infinite;
	-moz-animation: slider 20s infinite;
	animation: slider 20s infinite;
}


#slideshowC figure {
	position:relative;
	padding:0; margin:0;
}

@-webkit-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@-moz-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
#slideshowC figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	-webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	-moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	
	-webkit-animation: figurer 20s infinite;
	-moz-animation: figurer 20s infinite;
	animation: figurer 20s infinite;
}

@-webkit-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@-moz-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

#slideshowC figcaption {
	position:absolute;
	padding: 20px 20px; margin:0;
	left:0; right:0; bottom: 5px;
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #000;
	background: rgba(255,255,255,0.7);
	border-top: 1px solid rgb(225,225,225);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
	
	-webkit-animation: figcaptionner 20s infinite;
	-moz-animation: figcaptionner 20s infinite;
	animation: figcaptionner 20s infinite;
}

/* FIN SLIDE NOUVEAU*/

.titre{
    text-align: center;
    border-top: 1px solid gray;
}

/* STYLE BOUTIQUE */

.TypeArticle:hover{
    margin-top: 2%;
    margin-left: 50px;
    border: 1px solid gray;
    width: 270px;
    float: left;
    display: inline-block;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}


.TypeArticle {
    margin-top: 2%;
    margin-left: 50px;
    margin-bottom: 2%;
    border: 1px solid gray;
    width: 270px;
    float: left;
    display: inline-block;
    border-radius: 10px;
    position:relative;
}

.imageAddPanier{
    position: absolute;
    bottom: 57px;
    right: -15px;
}

.ImgTypeArticle{
    text-align: center;
    width: 95%;
    height: 200px;
}

.imageTypeArticle{
    width: 95%;
    height: 95%;
}

.infoArticle{
    border-top: 1px solid gray;
}

.infoNom{
    text-align:center;
    float:left;
    width: 100%;
    border-bottom: 1px solid gray;
}

.infoPanier{
    margin-left:5px;
    float:left;
    width: 55px;
    height: 52px;
    border-right: 1px solid gray;
}

.titrePanier{
    font-size:25px; 
    float: left;
    width: 100%;
}

.boutonAcheterPanier{
    size: 25px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
.prix{
    float: right;
    margin-right: 2%;
}

.panier{
    margin-right: 25%;
    width: 20%;
    float: left;
}

.imgPanier{
    width: 100%;
}

input.boutonAchat{
    float: right;
    margin-right: 5%;
    margin-top: 0.5%;
}

.topPanier{
    text-align: center;
    border: 1px solid gray;
    border-bottom: none;
    width: 98%;
    height: 40px;
    margin-left:1%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.listeNom{
    text-align: center;
    display: inline-block;
    width: 98%;
    border:1px solid gray;
    margin-left:1%;
    margin-right: 1%;
}

.liste{
    text-align: center;
    display: inline-block;
    width: 98%;
    border:1px solid gray;
    border-top: none;
    margin-left:1%;
    margin-right: 1%;
}

.nom{
    width: 100px;
    float: right;
    border-left: 1px solid gray;
}

.nomProduit{
    width: 590px;
    float: right;
    border-left: 1px solid gray;
}

.nomArticle{
    width: 590px;
    height:35px;
    float: right;
    border-left: 1px solid gray;
    padding-top: 15px
}

.prixArticle{
    width: 100px;
    height:35px;
    float: right;
    border-left: 1px solid gray;
    padding-top: 15px;
}

.quantiteArticle{
    width: 100px;
    height:35px;
    float: right;
    border-left: 1px solid gray;
    padding-top: 15px;
}

.supprArticle{
    width: 100px;
    height:42px;
    float: right;
    border-left: 1px solid gray;
    padding-top: 8px;
}

.imageArticle{
    width:100px;
}

.img{
    text-align: center;
    width:50px;
    height: 40px;
    padding-top: 5px;
}

.totalPanier{
    background-color: #d0d0d0;
    text-align: right;
    width: 989px;
    border:1px solid gray;
    border-top: none;
    margin-left:1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size:25px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
}

input.boutonRecal{
    
}

input.boutonRecal{
    float: right;
    margin-right: 2%;
}

/* FOOTER */
.footer{
    height:125px;
    width:100%;
    text-align : center;
    margin: auto;
    background-color : #5a361f;
}

/* TEST */

#login_form {
margin: 0;
padding: 0;
}

#login_panel label, #login_panel input {
	display: block;
	width: 390px;
	padding: 0px 5px;
	-webkit-border-radius: 5px;
	border: none;
}

#login_panel input {
	padding: 10px 5px;
}

#login_panel label {
margin-top: 10px;
}

#login_panel #submit {
	background: #43433d;
	padding: 8px 4px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 1.2em;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 10px;
}
#login_panel #submit:hover {
	background: #ff0000;
}


#login_panel {
	margin: 0 auto;
	width: 400px;
	height: 55%;
	padding: 30px;
	background: #cccccc;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	display: none;
}

.slide_btn {
	text-align: center;
	background: #ff0000;
	width: 140px; 
	height: 15px;
	margin: 0 auto;
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

.slide { 
margin: 0; /*NO MARGIN*/ 
padding: 0; /*NO PADDING*/ 
} 